html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

p {
    font-size: 1.5vw
}

.logout-btn {
    margin-left: 5px;
    margin-right: 5px;
}
/*This code hides the scollbars -- if required, un-comment following lines*/
/*::-webkit-scrollbar {
    display:none;
}*/
/* Track */
/*::-webkit-scrollbar-track {
    display: none;
}*/
/* Handle */
/*::-webkit-scrollbar-thumb {
    display: none;
}*/
/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
        display: none;
    }*/
/* Apply styles to the hero section */
.hero-section {
    position: relative; /* Ensure relative positioning */
    height: 100vh; /* Set the height to 100% of the viewport height */
    overflow: hidden; /* Hide overflowing content */
}

/* Create a container for the video */
.video-container {
    position: absolute; /* Position the video container absolutely */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the video container behind other content */
    filter: brightness(60%);
}

/* Style the video to cover the entire container */
video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
}

/* Style the text content in the hero section */
.text-center {
    position: relative; /* Ensure relative positioning for text */
    z-index: 1; /* Place text content above the video */
    text-align: center;
    color: #ffffff; /* Text color (adjust as needed) */
}

/* Additional styling for the hero text */
.hero-gradient {
    background: linear-gradient(to right, #ff00ff, #0000ff); /* Example gradient background */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Hide text color (will appear as the gradient) */
}

.hero-heading {
    min-height: 75vh;
    height: 100%;
}

    .hero-heading p {
        font-family: 'Montserrat', sans-serif;
        font-size: 2vw;
        text-align: center;
    }

.hero-gradient {
    font-family: 'Anton', sansserif;
    background-image: linear-gradient(to right, brown, brown, yellow, white, yellow, brown, brown);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: brown;
    padding: 2vw 2vw 0vw 2vw;
    text-align: center;
    font-size: 8vw;
    /* background: linear-gradient(to right,#b30000,#d54206,#f9c80c,#ffffff,#f9c80c,#ff1111, #ab0808);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    text-transform: uppercase;
}

.gen-ai-section {
    background-image: url(../img/background/bg2.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: contain;
    min-height: 70vh;
    padding-bottom: 2rem;
    position: relative;
}

.readmore-btn {
    background: transparent;
    border: 1px solid #fffc;
    border-radius: 5px;
    color: #fff;
    padding: 3px;
    text-decoration: none;
}

.gen-ai-joblist {
    background-image: url(../img/background/bg2.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 70vh;
    padding-bottom: 2rem;
    position: relative;
}

    .gen-ai-joblist .gen-ai-content {
        opacity: 1 !important;
    }
/* Apply a backdrop-filter to blur the background */
.gen-ai-section::before {
    content: ""; /* Create a pseudo-element to cover the background */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px); /* Adjust the blur value as needed */
    z-index: 1; /* Place it behind the content */
}

.gen-ai-content a {
    color: #fff
}

.gen-ai-content {
    opacity: 0; /* Initially, hide the section */
    transition: opacity 0.5s ease; /* Add a transition effect for smooth visibility */
    width: 85%;
    margin: auto;
    padding: 5vw 2.5rem;
    border-bottom: 2px solid #ffb600aa;
    border-top: 2px solid #ffb600aa;
    z-index: 100;
    position: relative;
}

    .gen-ai-content h2, .ps-card h2 {
        font-size: 4vw;
        color: #ffb600;
        font-family: 'Anton', sansserif;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgb(192 173 239 / 50%);
    }

    .gen-ai-content p {
        color: #fff;
        text-align: justify;
    }

    .gen-ai-content img {
        height: 175px;
        width: 200px;
        background-color: #fff;
    }

    /* Make the GenAI section visible when it's in the viewport */
    .gen-ai-content.in-viewport {
        opacity: 1;
    }





footer .row {
    margin-left: 0% !important;
    margin-right: 0% !important;
}

footer a {
    color: #fff !important;
    text-decoration: none;
}



/*GenAI Page Styles*/
.gen-ai-main-tools {
    background-image: url(../img/background/bg5.jpg);
}

.gen-ai-main-organizations {
    background-image: url(../img/background/bg6.jpg);
}

.gen-ai-main-applications {
    background-image: url(../img/background/bg7.jpg);
}

.gen-ai-main {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120vh;
    padding-bottom: 2rem;
}

    .gen-ai-main h1 {
        font-family: 'Anton', sansserif;
        background-image: linear-gradient(to right, brown, brown, yellow, white, yellow, brown, brown);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: brown;
        padding: 2vw 2vw 0vw 2vw;
        text-align: center;
        font-size: 8vw;
    }

    .gen-ai-main .img-cont {
        margin: 3px;
    }

        .gen-ai-main .img-cont img {
            width: 175px;
            height: 175px;
            background-color: #fff;
        }

.img-btns {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 286px;
    height: 175px;
    width: 175px;
    background: #000000cc;
    transition: 500ms ease-in-out;
}

    .img-btns:hover {
        opacity: 1;
    }

    .img-btns h4 {
        width: 100%;
        border-bottom: 2px solid goldenrod;
    }

    .img-btns button {
        background: dodgerblue;
        border: none;
        color: #fff;
        border-radius: 5px;
        padding: 0.25rem 0.75rem;
    }

/* GenAI Page Details Card Styles*/
.details-card {
    margin-top: 4rem;
    background-color: #2c2c2c;
    min-height: 500px;
    width: 90%;
    margin: 2rem auto auto auto;
    padding: 4rem;
}

    .details-card h3 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #68589b99;
        color: #ffe000;
        font-weight: bold;
        border-bottom: 2px solid #ffe000cc;
        padding-bottom: 2px;
        text-transform: uppercase;
    }

    .details-card button {
        background-color: dodgerblue;
        color: #fff;
        border-radius: 2px;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        margin-bottom: 1rem;
    }

    .details-card p {
        color: #acacac;
    }

.tool-logo-container {
    margin-top: 3rem;
}

    .tool-logo-container a {
        background-color: #3d3d3d;
        color: #acacac;
        border-radius: 2px;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        margin-bottom: 1rem;
    }

    .tool-logo-container div {
        width: 100%;
        border-radius: 3px;
        margin-top: 1rem;
        background-color: #3c3c3c;
        padding: 1rem;
    }

    .tool-logo-container img {
        height: 175px;
        width: auto;
    }

py-script img {
    padding: 5px;
    background-color: #fff;
    margin: 2px;
    max-width: 100%;
}
/*Jobs Parallax*/
.jobs-parallax {
    /* The image used */
    background-image: url('/img/background/bg1.jpg');
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .jobs-parallax h1 {
        font-family: 'Anton', sansserif;
        background-image: linear-gradient(to right, brown, brown, yellow, white, yellow, brown, brown);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: brown;
        padding: 2vw 2vw 0vw 2vw;
        text-align: center;
        font-size: 8vw;
    }

#pyscript-operation-details * {
    font-size: 14pt;
    color: #fff;
}

tbody, td, tfoot, th, thead, tr {
    border-width: 1px !important;
}
/*pyscript table styles*/
#table table thead th {
    background-color: navy;
    color: yellow;
    text-align: center;
}

#table {
    overflow-x: scroll;
}

    #table table {
        width: 100%;
        overflow-x: auto;
        font-size: .875em;
        --bs-table-bg: #fff;
        --bs-table-accent-bg: #fff;
        --bs-table-striped-color: #212529;
        --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
        --bs-table-active-color: #212529;
        --bs-table-active-bg: rgba(0, 0, 0, 0.1);
        --bs-table-hover-color: #212529;
        --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        vertical-align: top;
        border-color: #dee2e6;
        caption-side: bottom;
        border-collapse: collapse;
    }

        #table table > thead {
            vertical-align: bottom;
        }

        #table table > tbody {
            vertical-align: inherit;
        }

            #table table > tbody > tr:nth-of-type(odd) {
                --bs-table-accent-bg: var(--bs-table-striped-bg);
                color: var(--bs-table-striped-color);
            }

        #table table tbody th {
            background-color: navy;
            color: yellow;
            text-align: center;
        }

        #table table > :not(caption) > * > * {
            padding: 0.5rem 0.5rem;
            background-color: var(--bs-table-bg);
            border-bottom-width: 1px;
        }

.ps-card {
    background-color: #1212d55e;
    padding: 1vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .ps-card p {
        font-style: italic;
        color: #fff;
    }

.contact-us-container {
    background-image: url('/img/background/bg1.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .contact-us-container h1 {
        font-family: 'Anton', sansserif;
        background-image: linear-gradient(to right, brown, brown, yellow, white, yellow, brown, brown);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 2vw 2vw 0vw 2vw;
        text-align: center;
        font-size: 8vw;
        text-transform: uppercase;
    }

.contact-card {
    background-color: #1212d55e;
    height: 100%;
    box-shadow: rgb(253 253 253) 10px 10px 0px 0px;
}

    .contact-card a {
        color: #9ea5af;
        font-size: 13pt;
    }

    .contact-card h4 {
        font-size: 4vw;
        color: #ffb600;
        font-family: 'Brush Script MT';
        text-shadow: 2px 2px 4px rgb(192 173 239 / 50%);
        text-align: center;
    }

    .contact-card p {
        color: #fff;
        text-align: center;
        font-size: 13pt;
    }

.GenAIs-Section {
    background-image: url(../img/background/bg2.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 100vh;
}

    .GenAIs-Section h1 {
        font-family: 'Anton', sansserif;
        background-image: linear-gradient(to right, brown, brown, yellow, white, yellow, brown, brown);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 2vw 2vw 0vw 2vw;
        text-align: center;
        font-size: 8vw;
    }

    .GenAIs-Section form {
        max-width: 800px;
        margin: 2rem auto
    }

        .GenAIs-Section form * {
            margin:5px;
            color:#fff;
        }
