html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.hero-gradient {
    font-size: 72px;
    background: linear-gradient(to right,#b30000,#d54206,#f9c80c,#ffffff,#f9c80c,#ff1111, #ab0808);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
