@model UserModal
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Generative_AI_Tech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Generative_AI_Tech.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/lobster-3" rel="stylesheet">
</head>
<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Jobs">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="GenAI">GenAI Sites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (Model?.Email != null && Model?.Email != "")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" id="profile-email" asp-area="" asp-controller="" asp-action="">@Model.Email</a>
                            </li>
                            <li class="nav-item" id="logout-btn">
                                <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="" onclick="logout()">Logout</a>
                            </li>
                        }
                        else{
                            <li class="nav-item loginbtn">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item loginbtn">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid" style="padding:0 !important">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-dark text-white">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <a href="#">Home</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">Jobs</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">About Us</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">Follow Us</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <a href="#">Gen AI Sites</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">Contact</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">copyright Info</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">Social Icons</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function logout(){
            localStorage.clear();
            $.ajax({
                 type:'GET',
                url:'/Home/Logout',
                success:function(response){
                    console.log('Done');
                }
            });
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
