<section class="GenAIs-Section">
    <h1>Add new GenAI Website</h1>
    <form action="/Home/AddNewWebsite" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>GenAI Name</label>
            <input type="text" name="site_name" class="form-control text-dark" id="site_name" aria-describedby="site_name" placeholder="Site Name">
        </div>
        <div class="form-group">
            <label>Summary</label>
            <textarea class="form-control text-dark" name="summary" id="summary" rows="5" cols="50"></textarea>
        </div>
        <div class="form-group form-check">
            <label>Upload Image file</label>
            <input type="file" name="imageFile" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</section>