@{

}
<section class="gen-ai-websites">
    <h1 class="mt-4 mb-4">Generative AI Websites</h1>
    <p class="text-center mt-4 fs-4"><a href="/GenAIs/Create">Click here to add a new generative AI website.</a></p>
    <div class="container-fluid">
        @if (Model?.Email != null && Model?.Email != "")
        {
            for (var i = 0; i < Model?.GenAiSites?.Count; i++)
            {
                <div class="row" id="@Model?.GenAiSites[i].Site_Name">
                    <div class="col-lg-4 col-sm-12 p-0">
                        <img class="site-image" src="/img/uploads/@Model?.GenAiSites[i].Image_Name">
                    </div>
                    <div class="col-lg-8 col-sm-12 site-details p-4">
                        <h3 class="text-center blue-heading">@Model?.GenAiSites[i].Site_Name</h3>
                        <p>
                            @Model?.GenAiSites[i].Summary
                        </p>
                        <div class="container d-flex">
                            <a class="m-2 btn btn-primary" href="/Home/AddLike?Id=@Model?.GenAiSites[i].Id">Like(@Model?.GenAiSites[i].Likes)</a>
                            @if (Model?.Role == "admin")
                            {
                                <a class="m-2 btn btn-success" href="/GenAIs/Edit?Id=@Model?.GenAiSites[i].Id">Edit</a>
                                <a class="m-2 btn btn-danger" href="/GenAIs/Delete?Id=@Model?.GenAiSites[i].Id">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>