@{
}
<div class="m-3">
    <div class="row">
        <div class="col-3">
            <p class="text-white">Use a local accoun to login.</p>
            <form action="/home/loginuser" method="post">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label text-white" for="exampleCheck1">Remember me?</label>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col-9">
            <h2 class="text-warning">Use another service to register</h2>
            <hr class="text-warning" />
            <p class="text-white">
                There are no external authentication services configuration.see this <small class="text-white-50"> <a>article about setting up this ASP.NET application to support logging in via external services <hr />   </a></small>
            </p>
        </div>
    </div>

    <a class="text-white-50">Forget password?</a><br />
    <a class="text-white-50">Register as a new user</a><br />
    <a class="text-white-50">Resend eail  confirmation</a><br />
</div>